.container{
  margin-top: 75px;
}
.col{
  color: white;
}

.row.category{
  border: 5px solid #C060A1;
  border-radius: 20px;
  padding-top: 20px;
}

h1{
  color: white;
}

.title{
  position: relative;
  top: 50px;
}

